<log4net>
	<appender name="FileAppender" type="log4net.Appender.RollingFileAppender,log4net">
		<file value="C:\log4net\xibao_trough8\main\" />
		<datePattern value="dd.MM.yyyy'.log'" />
		<maxsizerollbackups value="60" />
		<maximumfilesize value="10MB" />
		<staticLogFileName value="false" />
		<encoding value="utf-8" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO" />
			<levelMax value="FATAL" />
		</filter>
	</appender>

	<appender name="ConnectFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
		<file value="C:\log4net\xibao_trough8\connect\" />
		<datePattern value="dd.MM.yyyy'.log'" />
		<maxsizerollbackups value="60" />
		<maximumfilesize value="10MB" />
		<staticLogFileName value="false" />
		<encoding value="utf-8" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO" />
			<levelMax value="FATAL" />
		</filter>
	</appender>

	<appender name="ReconnectFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
		<file value="C:\log4net\xibao_trough8\re-connect\" />
		<datePattern value="dd.MM.yyyy'.log'" />
		<maxsizerollbackups value="60" />
		<maximumfilesize value="10MB" />
		<staticLogFileName value="false" />
		<encoding value="utf-8" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO" />
			<levelMax value="FATAL" />
		</filter>
	</appender>
	
	<root>
		<level value="DEBUG" />
		<appender-ref ref="FileAppender" />
	</root>

	<logger additivity="false" name="ConnectFileAppender">
		<level value="All"/>
		<appender-ref ref="ConnectFileAppender" />
	</logger>

	<logger additivity="false" name="ReconnectFileAppender">
		<level value="All"/>
		<appender-ref ref="ReconnectFileAppender" />
	</logger>
</log4net>