<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="API_Erp">
			<section name="Url" type="System.Configuration.NameValueSectionHandler" />
			<section name="Account" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
		<sectionGroup name="API_Scale">
			<section name="Url" type="System.Configuration.NameValueSectionHandler" />
			<section name="Account" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
		<sectionGroup name="API_DMS">
			<section name="Url" type="System.Configuration.NameValueSectionHandler" />
			<section name="Account" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="XHTD_Entities" connectionString="metadata=res://*/Entities.XHTDModel.csdl|res://*/Entities.XHTDModel.ssdl|res://*/Entities.XHTDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.128.73;initial catalog=TAMDIEP_XHTD;user id=sa;password=Hotro123;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
	<appSettings>
		<add key="Tram951_Module_Interval_In_Hours" value="87600" />
		<add key="Scale_Module_Interval_In_Hours" value="87600" />
	</appSettings>
	<API_Erp>
		<Url>
			<add key="GetToken" value="http://dathang.vicemtamdiep.vn:6237/api/Account/login" />
		</Url>
		<Account>
			<add key="UserName" value="api_xhtd" />
			<add key="PassWord" value="Tamdiep@123" />
		</Account>
	</API_Erp>
	<API_Scale>
		<Url>
			<add key="GetToken" value="http://10.0.1.40:9876/connect/token" />
			<add key="UpdateWeightIn" value="http://192.168.128.239:6237/api/VehicleWeight/weight_input" />
			<add key="UpdateWeightOut" value="http://192.168.128.239:6237/api/VehicleWeight/weight_output" />
		</Url>
		<Account>
			<add key="grant_type" value="client_credentials" />
			<add key="client_secret" value="595a7e4a-6753-4ed1-a8b6-855f80e9d47d" />
			<add key="username" value="ierp-tungnt" />
			<add key="password" value="12341234" />
			<add key="client_id" value="weight-api" />
		</Account>
	</API_Scale>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
	<API_DMS>
		<Url>
			<add key="GetToken" value="http://45.124.94.191:8789/token" />
			<add key="SendMsg" value="http://45.124.94.191:8789/api/sendMsg" />
			<add key="ScaleHub" value="http://45.124.94.191:8789/xhtdmsg" />
			<add key="SendInforNotification" value="http://45.124.94.191:8789/api/sendInforNotification" />
			<add key="SendSensorScale1Notification" value="http://192.168.128.74:7000/api/XHTD/Hub/SendSensorScale1Notification" />
			<add key="SendInfoScale1Notification" value="http://192.168.128.74:7000/api/XHTD/Hub/SendInfoScale1Notification" />
			<add key="SendMessageScale1Notification" value="http://192.168.128.74:7000/api/XHTD/Hub/SendMessageScale1Notification" />
            <add key="SendPushNotification" value="http://192.168.128.74:7000/api/XHTD/Notification/SendNotification" />
			<add key="SendNotificationByRight" value="http://192.168.128.74:7000/api/XHTD/Notification/SendNotificationByRight" />
			<add key="SendScale1TrafficLight" value="http://192.168.128.74:7000/api/XHTD/Hub/SendScale1TrafficLight" />
			<add key="SendScale2TrafficLight" value="http://192.168.128.74:7000/api/XHTD/Hub/SendScale2TrafficLight" />
			<add key="SendScale1CountingVehicle" value="http://192.168.128.74:7000/api/XHTD/Hub/SendScale1CountingVehicle" />
			<add key="SendDeviceStatus" value="http://192.168.128.74:7000/api/XHTD/Hub/SendDeviceStatus" />
			<add key="InvoiceXHTD" value="http://192.168.128.74:7000/api/Invoice/XHTD" />
            <add key="UserNameSender" value="xhtd_system" />
		</Url>
		<Account>
			<add key="grant_type" value="password" />
			<add key="username" value="khoanv" />
			<add key="password" value="121212" />
		</Account>
	</API_DMS>
</configuration>