<log4net>
	<appender name="Pcb30FileAppender" type="log4net.Appender.RollingFileAppender,log4net">
		<file value="C:\log4net\queuetotrough\pcb30" />
		<datePattern value="dd.MM.yyyy'.log'" />
		<maxsizerollbackups value="60" />
		<maximumfilesize value="10MB" />
		<staticLogFileName value="false" />
		<encoding value="utf-8" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO" />
			<levelMax value="FATAL" />
		</filter>
	</appender>

	<appender name="Pcb40FileAppender" type="log4net.Appender.RollingFileAppender,log4net">
		<file value="C:\log4net\queuetotrough\pcb40" />
		<datePattern value="dd.MM.yyyy'.log'" />
		<maxsizerollbackups value="60" />
		<maximumfilesize value="10MB" />
		<staticLogFileName value="false" />
		<encoding value="utf-8" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO" />
			<levelMax value="FATAL" />
		</filter>
	</appender>

	<appender name="C91FileAppender" type="log4net.Appender.RollingFileAppender,log4net">
		<file value="C:\log4net\queuetotrough\c91" />
		<datePattern value="dd.MM.yyyy'.log'" />
		<maxsizerollbackups value="60" />
		<maximumfilesize value="10MB" />
		<staticLogFileName value="false" />
		<encoding value="utf-8" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO" />
			<levelMax value="FATAL" />
		</filter>
	</appender>

	<appender name="OtherFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
		<file value="C:\log4net\queuetotrough\c91" />
		<datePattern value="dd.MM.yyyy'.log'" />
		<maxsizerollbackups value="60" />
		<maximumfilesize value="10MB" />
		<staticLogFileName value="false" />
		<encoding value="utf-8" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO" />
			<levelMax value="FATAL" />
		</filter>
	</appender>

	<appender name="RoiFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
		<file value="C:\log4net\queuetotrough\roi" />
		<datePattern value="dd.MM.yyyy'.log'" />
		<maxsizerollbackups value="60" />
		<maximumfilesize value="10MB" />
		<staticLogFileName value="false" />
		<encoding value="utf-8" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO" />
			<levelMax value="FATAL" />
		</filter>
	</appender>

	<appender name="JumboFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
		<file value="C:\log4net\queuetotrough\jumbo" />
		<datePattern value="dd.MM.yyyy'.log'" />
		<maxsizerollbackups value="60" />
		<maximumfilesize value="10MB" />
		<staticLogFileName value="false" />
		<encoding value="utf-8" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO" />
			<levelMax value="FATAL" />
		</filter>
	</appender>

	<appender name="ClinkerFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
		<file value="C:\log4net\queuetotrough\clinker" />
		<datePattern value="dd.MM.yyyy'.log'" />
		<maxsizerollbackups value="60" />
		<maximumfilesize value="10MB" />
		<staticLogFileName value="false" />
		<encoding value="utf-8" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO" />
			<levelMax value="FATAL" />
		</filter>
	</appender>

	<logger additivity="false" name="ClinkerFileAppender">
		<level value="All"/>
		<appender-ref ref="ClinkerFileAppender" />
	</logger>

	<logger additivity="false" name="Pcb30FileAppender">
		<level value="All"/>
		<appender-ref ref="Pcb30FileAppender" />
	</logger>

	<logger additivity="false" name="Pcb40FileAppender">
		<level value="All"/>
		<appender-ref ref="Pcb40FileAppender" />
	</logger>

	<logger additivity="false" name="RoiFileAppender">
		<level value="All"/>
		<appender-ref ref="RoiFileAppender" />
	</logger>

	<logger additivity="false" name="C91FileAppender">
		<level value="All"/>
		<appender-ref ref="C91FileAppender" />
	</logger>

	<logger additivity="false" name="JumboFileAppender">
		<level value="All"/>
		<appender-ref ref="JumboFileAppender" />
	</logger>

	<logger additivity="false" name="OtherFileAppender">
		<level value="All"/>
		<appender-ref ref="OtherFileAppender" />
	</logger>
</log4net>